<div id="fullpage">
	<div class="section active" id="section0">
		<div class="jumbotron" style="background-color:#42bd41">
			<div class="container" style="background-color:#42bd41">
				<h1 style="font-size:100px">Gift me!</h1>
				<p>Where you can share what you want for a supprise gift and find out what your friend want</p>
				<p><a class="btn btn-danger btn-lg" role="button">Learn more</a></p>
			</div>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="jumbotron" style="background-color:#42bd41">
			<div class="container" style="background-color:#42bd41">
				<h1 style="font-size:100px">Find your friend !</h1>
				<p><input type="text" class="form-control" placeholder="Search"></p>
				<p><a class="btn btn-danger btn-lg" role="button">Find friend</a></p>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

</script>
